/*This file is only intended for style changes with bootstrap classes*/
:root
{
    --bs-primary:  #6183b3;
    --bs-secondary: #071e31;
    --bs-primary-rgb: 97, 131, 179;
    --bs-secondary-rgb: 2, 3, 30;

    --bs-border-color: #2d2b69;
    --bs-border-width: 2px;
    --bs-gradient: linear-gradient(180deg, rgba(113, 128, 179, 0.692), rgba(164, 147, 193, 0.146));
}

.navbar .nav-link {
  border-bottom: 2px solid transparent;
  font-size: 1rem;
  line-height: 2.5;
  gap: 2rem;
  background-color: #09010f;
  padding: 0px;
  height: 45px;
}

.nav-link
{
  border-bottom: 2px solid transparent;
  font-size: 1rem;
}

.navbar
{
  --bs-navbar-padding-y: 0px;
  background-color: #09010f;
}
.navbar-nav
{
    background-color: #09010f;
  margin: 0px;
  height: 100%;
  padding: 0px;
}

.navbar .nav-link:hover {
  border-bottom-color: currentColor;
  background-color: rgba(255, 255, 255, 0.05);
}

.navbar .nav-link.active
{
  border-bottom-color: currentColor;
  background-color: #09010fb3;
}

.nav-item
{
  justify-content: center;
}