/*This file is only intended for style changes with bootstrap classes*/
:root
{
    --bs-primary:  #f4ebed;
    --bs-secondary: #706f6f;
    --bs-primary-rgb: 220, 220, 220;
    --bs-secondary-rgb: 150, 150, 150;
    --bs-border-width: 2px;
}

.navbar .nav-link {
  border-bottom: 2px solid;
  font-size: 1rem;
  line-height: 2.5;
  gap: 2rem;
  background-color: #cbcaca;
  padding: 0px;
  height: 45px;
  color: rgb(40, 40, 43);
}

.nav-link
{
  border-bottom: 2px solid black;
  font-size: 1rem;
}

.navbar
{
  --bs-navbar-padding-y: 0px;
  background-color: #cbcaca;
}
.navbar-nav
{
  background-color: #cbcaca;
  margin: 0px;
  height: 100%;
  padding: 0px;
}

.navbar .nav-link:hover {
  border-bottom-color: #2e2c2c;
  background-color: rgba(13, 12, 12, 0.368);
}

.navbar .nav-link.active
{
  border-bottom-color: #2e2c2c;
  background-color: #0c0b0b92;
}

.nav-item
{
  justify-content: center;
}
