/*This file is only intended for style changes with bootstrap classes*/
:root
{
    --bs-primary:  #521d29;
    --bs-secondary: #31070b;
    --bs-primary-rgb: 49, 14, 22;
    --bs-secondary-rgb: 55, 1, 15;

    --bs-border-color: #260f12;
    --bs-border-width: 2px;
    --bs-gradient: linear-gradient(180deg, rgba(113, 128, 179, 0.692), rgba(164, 147, 193, 0.146));
}

.navbar .nav-link {
  border-bottom: 2px solid transparent;
  font-size: 1rem;
  line-height: 2.5;
  gap: 2rem;
  background-color: #0f0101;
  padding: 0px;
  height: 45px;
}

.nav-link
{
  border-bottom: 2px solid transparent;
  font-size: 1rem;
}

.navbar
{
  --bs-navbar-padding-y: 0px;
  background-color: #0f0101;
}
.navbar-nav
{
    background-color: #0f0101;
  margin: 0px;
  height: 100%;
  padding: 0px;
}

.navbar .nav-link:hover {
  border-bottom-color: currentColor;
  background-color: rgba(255, 255, 255, 0.05);
}

.navbar .nav-link.active
{
  border-bottom-color: currentColor;
  background-color: #ffffff0a;
}

.nav-item
{
  justify-content: center;
}

/*.container-fluid
{
  background-image: url('images/halftone.png');
  background-blend-mode: lighten;
}*/