/* Elements */
body{
   background-color: rgb(220, 220, 220);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color:#28282B;
}

main {
  flex: 1;
}

footer
{
    background-color: #777777;
    color: #00fff2;
    text-align: center;
    padding: 35px 0;
    margin-top: 20px;
    font-size: 90%;
    
}

h1
{
    font-size: 375%;
}

h2
{
    font-size: 250%;
}
p
{
    padding: 2px;
    font-size: 155%;
    color:rgb(40, 40, 43);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.gallery
{
    display: grid;
    gap: 1.5rem;    
    grid-template-columns: repeat(auto-fit, minmax(390px, 0.9fr));
    padding: 15px;
}

.shadow-1-strong { box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3); }

.gallery img
{
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    object-fit: cover;
    transition: transform 0.5s ease;
}

.img-hover
{
     transition: transform 0.7s ease;
}

.img-hover:hover
{
transform: scale(1.03)
}

.gallery img:hover
{
    transform: scale(1.05);
}

#header
{
    color: rgb(255, 255, 254);
    font-size: 550%;
    position: relative;
}

#mainDiv
{
    box-shadow: 5px 5px 20px 5px rgba(24, 1, 1, 0.719) inset;
}

#title
{
    background-color: #200308;
}

.height-xxl
{
    height: 600px;
}

.height-lg
{
    height: 450px;
}

.height-sm
{
    height: 100px;
}

.height-sm-md
{
    height:175px;
}

.height-md
{
    height: 325px;
}

.fit-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}