/* Elements */
body{
    background: linear-gradient(90deg, rgb(101, 88, 166) 0%, rgb(82, 108, 194)100%);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

html
{
    margin: 0px;
    padding: 0px;
}

header
{
    color: #81abb8a8;
    width: 101vw;
    margin: 0px;
    left: 0;
    position: relative;
    text-align: center;
    padding: 10px 0;
    left: -8px;
    top: -10px;
}


footer
{
    background-color: #386c96;
    color: #00fff2;
    text-align: center;
    padding: 350px 0;
    margin-top: 20px;
    font-size: 90%;
}

section
{
    padding: 5px;
}

article
{
    background-color: #293778af;
}

h1, h2, h3, h4, h5
{
    color: #05283b;
    padding: 2px;
    margin: 2px;
    text-shadow: 0 4px 8px rgba(0,0,0,0.45);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1
{
    font-size: 200%;
}

h2
{
    font-size: 170%;
}

h3
{
    font-size: 150%;
}

p
{
    padding: 2px;
    font-size: 135%;
    color:#212a5b;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.gallery
{
    display: grid;
    gap: 1.5rem;    
    grid-template-columns: repeat(auto-fit, minmax(350px, 0.9fr));
    padding: 15px;
}

.shadow-1-strong { box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3); }

.gallery img
{
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    object-fit: cover;
    transition: transform 0.5s ease;
}

.gallery img:hover
{
    transform: scale(1.05);
}