/* Elements */
body{
    background: linear-gradient(90deg, rgb(16, 8, 58) 0%, rgb(12, 16, 29)100%);
    color: #00e5ff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header
{
    background-color: #070b1baf;
    color: #81abb8a8;
    width: 100vw;
    margin: 0px;
    left: 0;
    position: relative;
    text-align: center;
    padding: 10px 0;
    left: -8px;
    top: -10px;
}

nav
{
    background-color: #09105d97;
    height: 45px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

section
{
    background-color: #1a2653af;
    margin-top: 15px;
    padding: 5px;
}

article
{
    background-color: #293778af;
}

h1, h2, h3, h4, h5
{
    color: #93d9ff76;
    padding: 2px;
    margin: 2px;
    text-shadow: 0 4px 8px rgba(0,0,0,0.45);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1
{
    font-size: 200%;
}

h2
{
    font-size: 170%;
}

h3
{
    font-size: 150%;
}

p
{
    padding: 2px;
    font-size: 135%;
    color:#7faec4;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a, a:visited {
    color: #66a2be;
    transition: font-size 0.5s ease, color 0.5s ease;
    font-size: 135%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0 4px 8px rgba(0,0,0,0.35);
    text-decoration: none;
}

a:hover {
    color: #aac9cd;
    font-size: 155%;

}

/* IDs */
#mainPage, #mainPage:visited, #mainPage:hover
{
    color: #93d9ff76;
    font-size:520%;
    font-weight: bold;
}

a.current, a.current:visited {
    color: #66a2be;
    transition: font-size 0.5s ease, color 0.5s ease;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0 4px 8px rgba(0,0,0,0.35);
    font-size: 135%;
    text-decoration: underline;
}

a.current:hover {
    color: #aac9cd;
    font-size: 155%;
}

.gallery
{
    display: grid;
    gap: 1.5rem;    
    grid-template-columns: repeat(auto-fit, minmax(350px, 0.9fr));
    padding: 15px;
}

.shadow-1-strong { box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3); }

.gallery img
{
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    object-fit: cover;
    transition: transform 0.5s ease;
}

.gallery img:hover
{
    transform: scale(1.05);
}

