/* Elements */
body{
   background-color: rgb(220, 220, 220);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color:#28282B;
}

footer
{
    background-color: #777777;
    color: #00fff2;
    text-align: center;
    padding: 35px 0;
    margin-top: 20px;
    font-size: 90%;
    
}

h1
{
    font-size: 375%;
}

h2
{
    font-size: 250%;
}

p
{
    padding: 2px;
    font-size: 155%;
    color:rgb(40, 40, 43);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-color-lightblue
{
    color: #0f1317;
}
.bg-tertiary
{
    background-color: #bcbcbe;
}

.gallery
{
    display: grid;
    gap: 1.5rem;    
    grid-template-columns: repeat(auto-fit, minmax(390px, 0.9fr));
    padding: 15px;
}

.shadow-1-strong { box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3); }

.gallery img
{
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    object-fit: cover;
    transition: transform 0.5s ease;
}

.img-hover
{
     transition: transform 0.7s ease;
}

.img-hover:hover
{
transform: scale(1.03)
}

.gallery img:hover
{
    transform: scale(1.05);
}

.text-color-white
{
    color:rgba(245, 245, 245, 0.95)
}

.height-xxl
{
    height: 600px;
}

.height-lg-xxl
{
    height: 525px;
}

.height-lg
{
    height: 450px;
}

.height-mini
{
    height: 50px;
}

.height-sm
{
    height: 100px;
}

.height-sm-md
{
    height:175px;
}

.height-md
{
    height: 325px;
}

.fit-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-right: 550px;
}
.height-50
{
    height: 50%;
}

.height-67
{
    height: 67%;
}

.height-33
{
    height: 33%;
}

.frosted {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

/*----------------------------------------------------------------------------------------------------------------------------
IMAGES
----------------------------------------------------------------------------------------------------------------------------*/

.img-lasers
{
    background-image: url('images/lasers.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-cool
{
    background-image: url('images/cool.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-german
{
    background-image: url('images/deutschland.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-greyWall
{
  background-image: url('images/greyWall.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-shematicQubit
{
    background-image: url('images/shematicQubit.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-superpositioningQB
{
    background-image: url('images/superpositioningQB.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-cyberSecurity
{
    background-image: url('images/cyberSecurity.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-processor
{
    background-image: url('images/quantum.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-stockMarket
{
    background-image: url('images/stockMarket.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-math
{
    background-image: url('images/math.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-medical
{
    background-image: url('images/medical.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-mining
{
    background-image: url('images/mining.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-chemical
{
    background-image: url('images/chemical.jpg');
    background-size: cover;
    background-position: 95%;
    background-repeat: no-repeat;
}

.img-cryptography
{
    background-image: url('images/cryptography.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-appLasers
{
    background-image: url('images/appLasers.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-singleLaser
{
    background-image: url('images/singleLaser.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-postQuantum
{
    background-image: url('images/postQuantum.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-quantumResilient
{
    background-image: url('images/quantumResilient.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-randomNumber
{
    background-image: url('images/randomNumber.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-quantumMechanics
{
    background-image: url('images/quantumMechanic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-cyberBanner
{
    background-image: url('images/cyberBanner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-complexity
{
    background-image: url('images/Complexity.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-limits
{
    background-image: url('images/limits.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-simulation
{
    background-image: url('images/Simulation.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-superconductingComputer
{
    background-image: url('images/superconductingComputer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-ibm2
{
    background-image: url('images/ibmComputer1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-ibm1
{
    background-image: url('images/ibmComputer2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-googleQuantumAi
{
    background-image: url('images/googleQuantumAI.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-dWaveLogo
{
    background-image: url('images/dWaveLogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-AQT
{
    background-image: url('images/Logo-AQT.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-IONQ
{
    background-image: url('images/ionq-logo_465x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-ionTrap
{
    background-image: url('images/ionTrap.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-spinQ2
{
    background-image: url('images/spinQCastor.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-power
{
    background-image: url('images/power.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gradient-primary-secondary
{
    background: linear-gradient(to bottom, rgb(220, 220, 220) 0%, rgb(200, 200, 200) 100%);
}

.gradient-secondary-primary
{
    background: linear-gradient(to bottom, rgb(200, 200, 200) 0%, rgb(220, 220, 220) 100%);
}

.gradient-secondary-tertiary
{
    background: linear-gradient(to bottom, rgb(200, 200, 200) 0%, rgb(188, 188, 190) 100%);
}

.max-width-50
{
    max-width: 50%;
}