body
{
    background-color: #0B0C10;
    color: #C5C6C7;
    font-family: 'Orbitron', sans-serif;
}

header
{
    background-color: #1a1d2b;
    color: #0c6882;
}

nav
{
    background-color: #1F2833;
    
}

main
{
    background-color: #0E172A;
    border-radius: 0.8rem;
}

section
{
    background-color: #1F2833;
    border-radius: 0.8rem;
}

article
{
    background-color: #16213E;
    border-radius: 0.8rem;
}

h1, h2, h3, h4, h5
{
    color: #4788ca;
}

a, a:visited{
    color: #45A29E;
}

a:hover{
    color: #66FCF1;
}